@charset:"UTF-8";

#content {
	float: left;
	width: 650px;
	margin-left: 48px;
	margin-bottom: 75px;
}

.mg_b40 {
	margin-bottom: 40px;
}

h3 {
	font-size: 20px;
	color: #0066cc;
	font-weight: normal;
	margin-bottom: 40px;
}

h3:before {
	content: url("../images/common/ttl_arrow.png");
	padding-right: 10px;
}

ul.company_txt {
	margin-bottom:60px;
}

ul.company_txt li {
	font-size: 19px;
	line-height: 1.9em;
}

ul.list_c li {
	background: url("../images/company/ico_disc.png") no-repeat left 13px;
	padding-left:30px;
}

h4 {
	border-left: 5px solid #0066cc;
	color: #0066cc;
	padding-left: 15px;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 20px;
}

table.company_table {
	width:100%;
	margin:30px 0 80px;
}

table.company_table tr {
	border:1px solid #ccc;
}

table.company_table th {
	font-size:13px;
	font-weight:normal;
	line-height:22px;
	vertical-align:middle;
	background-color:#E3E3E3;
	border-right:1px solid #ccc;
	padding:10px 15px;
}

table.company_table td {
	font-size:13px;
	line-height:22px;
	vertical-align:middle;
	background-color:#fff;
	padding:10px 15px;
}



/*==========拠点情報==========*/
h5 {
	color: #0066cc;
	font-size:15px;
	font-weight:normal;
	border-bottom: 1px solid #0066cc;
	padding-bottom:3px;
}

.campany_base_table {
}

.campany_base_table th {
	color: #0066cc;
	font-size:13px;
	text-align:left;
	line-height:22px;
	padding:10px 0;
}

.campany_base_table td {
	font-size:13px;
	padding:10px 0;
	line-height:22px;
}

.campany_base_table td img {
	margin:5px 0;
}

/*==========CSR==========*/
p.campany_p_txt {
	color: #0066cc;
	font-size:20px;
	line-height:32px;
	margin-bottom:70px;
}

ul.campany_csr_list {
	margin:20px 0 60px;
}

ul.campany_csr_list li {
	font-size:17px;
	line-height:32px;
	width:700px;
}



