@charset:"UTF-8";

body {
	background: url("../images/global/bg_map.jpg") no-repeat #fff;
	background-position: center 610px;
}

#wrap {
	width: auto;
	margin: 0;
	background: url("../images/global/bg_rep.png") top center;
}

#content {
	margin: 0 auto;
	margin-top: 38px;
}

.center {
	width: 980px;
	margin: 0 auto;
}

.pagetop {
	width: 980px;
	margin: 0 auto;
}

h3 {
	color: #0066cc;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 35px;
}

h4 {
	color: #0066cc;
	font-size: 17px;
	border-left: 5px solid #0066cc;
	padding-left: 10px;
	font-weight: normal;
	margin-bottom: 18px;
}

p {
	font-size: 13px;
	line-height: 1.846em;
}

.gl_net {
	width: 980px;
	margin: 35px auto 75px auto;
}

.gl_net li {
	background: url("../images/global/bg_global.png") no-repeat;
	width: 310px;
	height: 250px;
	padding: 35px 30px 0 30px;
	float: left;
	margin-left: 25px;
}

.gl_net li:first-child {
	margin-left: 0;
}

.gl_net li h5 {
	font-size: 15px;
	color: #0066cc;
	text-align: center;
	font-weight: normal;
	margin-bottom: 35px;
}

.map_txt {
	position: relative;
	width: 980px;
	height: 530px;
	margin: 0 auto;
}

.map_txt p {
	font-size: 18px;
}

.map_txt p span {
	font-size: 10px;
	padding-left: 5px;
}

.tia {
	position: absolute;
	top: 90px;
	left: 255px;
}

.toy {
	position: absolute;
	top: 120px;
	left: 745px;
}

.nag {
	position: absolute;
	top: 200px;
	left: 715px;
}

.suz {
	position: absolute;
	top: 265px;
	left: 335px;
}

.gua {
	position: absolute;
	top: 400px;
	left: 245px;
}

.she {
	position: absolute;
	top: 435px;
	left: 325px;
}

.hon {
	position: absolute;
	top: 475px;
	left: 255px;
}

.han {
	position: absolute;
	top: 460px;
	left: 100px;
}

.map_txt .mark {
	position: absolute;
	top: 370px;
	left: 730px;
	background: url("../images/global/map_mark.jpg") no-repeat;
	width: 248px;
	height: 70px;
	font-size: 14px;
	line-height: 1.5em;
	padding: 15px 0 0 45px;
}

.mark_01 {
	position: absolute;
	top: 100px;
	left: 355px;
}

.mark_02 {
	position: absolute;
	top: 156px;
	left: 778px;
}

.mark_03 {
	position: absolute;
	top: 156px;
	left: 768px;
}

.mark_04 {
	position: absolute;
	top: 187px;
	left: 767px;
}

.mark_05 {
	position: absolute;
	top: 276px;
	left: 430px;
}

.mark_06 {
	position: absolute;
	top: 434px;
	left: 285px;
}

.mark_07 {
	position: absolute;
	top: 444px;
	left: 307px;
}

.mark_08 {
	position: absolute;
	top: 460px;
	left: 300px;
}

.mark_09 {
	position: absolute;
	top: 490px;
	left: 135px;
}

.base {
	background: url("../images/global/bg_base.png") no-repeat top left;
	width: 998px;
	height: 470px;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
}

.base_jp {
	width: 200px;
	position: absolute;
	top: 40px;
	left: 600px;
}

.base_jp h5 {
	font-size: 15px;
	color: #0066cc;
	margin-bottom: 10px;
	font-weight: normal;
}

.base_jp p {
	line-height: 1.769em;
	width: 155px;
	padding-left: 10px;
}

.btn_01 {
	position: absolute;
	top: 4px;
	left: 408px;
}

.btn_02 {
	position: absolute;
	top: 233px;
	left: 23px;
}

.btn_03 {
	position: absolute;
	top: 233px;
	left: 223px;
}

.btn_04 {
	position: absolute;
	top: 234px;
	left: 424px;
}

.btn_05 {
	position: absolute;
	top: 234px;
	left: 625px;
}

.btn_06 {
	position: absolute;
	top: 234px;
	left: 825px;
}

.base_txt {
	width: 998px;
	margin: 10px auto;
}

.base_txt li {
	float: left;
	width: 176px;
	margin-left: 25px;
	text-align: center;
	font-size: 11px;
	line-height: 1.182em;
}

.base_txt li:first-child {
	margin-left: 0;
}

.ovbase {
	width: 998px;
	margin: 0 auto;
}

.ov_txt {
	background: url("../images/global/bg_ovbase.png") top left;
	width: 980px;
	height: 70px;
	margin-bottom: 90px;
}

.ov_txt p {
	font-size: 13px;
	padding: 22px 0 0 8px;
}

.ov_txt p span {
	font-size: 15px;
	color: #0066cc;
}