@charset:"UTF-8";

#content {
	float: left;
	width: 650px;
	margin-left: 48px;
	margin-bottom: 75px;
}

.mg_b40 {
	margin-bottom: 40px;
}

h3 {
	font-size: 20px;
	color: #0066cc;
	font-weight: normal;
	margin-bottom: 40px;
}

h3:before {
	content: url("../images/common/ttl_arrow.png");
	padding-right: 10px;
}

p.pla_mecha_outline {
	font-size: 22px;
	color: #0066cc;
	font-weight: normal;
	margin-bottom: 30px;
	line-height: 1.773em;
}

.img_mechanism {
	margin: 50px 0 65px 0;
}

h4 {
	border-left: 5px solid #0066cc;
	color: #0066cc;
	padding-left: 15px;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 20px;
}

p {
	font-size: 13px;
	line-height: 1.846em;
}

.bg_real {
	background: url("../images/mechanism/bg_mecha.png") top left;
	border-top: 1px solid #0066cc;
	border-left: 1px solid #0066cc;
	width: 650px;
	height: 200px;
	margin-bottom: 30px;
}

.bg_real ul {
	width: 600px;
	margin: 10px auto 0 auto;
}

.bg_real li {
	width: 192px;
	text-align: center;
	font-size: 13px;
	float: left;
	margin-left: 12px;
}

.bg_real li:first-child {
	margin-left: 0;
}

.bg_real li span {
	font-size: 10px;
}

h5 {
	font-size: 13px;
	font-weight: normal;
	color: #0066cc;
}

h5 img {
	margin-right: 20px;
	vertical-align: middle;
	padding-bottom: 5px;
}

.bg_real li.le_spacing {
	font-size: 11px;
	letter-spacing: -2px;
}

/*==========社長メッセージ==========*/

.left_name {
	float: left;
}

.left_name p.pla_mecha_outline {
	margin-bottom: 76px;
}

.message_img {
	float: right;
}

p.message_txt {
	font-size: 15px;
	line-height: 1.867em;
	margin-top: 45px;
}