@charset:"UTF-8";

/*====bxslider====*/
.bx-wrapper {
	top: -10px;
	z-index: 10;
}

.bx-wrapper .bx-viewport {
	padding-top: 0!important;
	left: 0!important;
	border: none!important;
}

.bx-wrapper .bx-pager {
	bottom: -40px!important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	margin: 0 10px!important;
}

.bx-controls-direction { display: none!important; }
/*====END bxslider====*/
header {
	position: relative;
}

header .bg_shadow {
	position: absolute;
	width: 100%;
	height: 41px;
	background: url("../images/common/main_shadow.png") no-repeat center bottom;
	padding: 0;
	margin: 0;
	bottom: -13px;
}

#content {
	float: left;
	width: 980px;
	margin-bottom: 75px;
}

.top_btn {
	position: relative;
}

.top_btn li {
	background: url("../images/top/bg_btn_off.png") no-repeat top center;
	width: 312px;
	height: 207px;
	position: relative;
	float: left;
	margin: 0 0 10px 22px;
}

.top_btn li.bg_02 {
	background: url("../images/top/bg_btn2_off.png") no-repeat top center;
	width: 312px;
	height: 207px;
	position: relative;
	float: left;
	margin-left: 22px;
}

.top_btn li.bg_03 {
	background: url("../images/top/bg_btn3_off.png") no-repeat top center;
	width: 144px;
	height: 99px;
	position: relative;
	float: left;
	margin-left: 23px;
}

.top_btn li.mg_l0 {
	margin-left: 0;
}

.top_btn .cl_point {
	display: block;
	width: 312px;
	height: 192px;
	position: absolute;
	top: 0;
	left: 0;
}

.top_btn li h3 {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	font-weight: normal;
}

.top_btn li h3 span {
	display: block;
	font-size: 11px;
	margin-top: 5px;
}

.top_btn li p {
	font-size: 13px;
	width: 240px;
	margin: 0 auto;
	margin-top: 40px;
}

.top_btn li p.w_255 {
	width: 255px;
}

.top_btn li p.btn_deta {
	font-size: 12px;
	text-align: right;
	margin-top: 10px;
}

.top_btn li p.btn_deta:after {
	content: url("../images/common/r_arrow.jpg");
	padding: 0 0 0 10px;
	vertical-align: middle;
}

.top_btn li.bg_02 .cl_point {
	display: block;
	width: 312px;
	height: 84px;
	position: absolute;
	top: 0;
	left: 0;
}

.top_btn li.bg_02 h3,
.top_btn li.bg_03 h3 {
	padding-top: 20px;
}

.top_btn li.bg_02 h3 span,
.top_btn li.bg_03 h3 span {
	margin-top: 3px;
}

.top_btn li.bg_03 .cl_point {
	display: block;
	width: 144px;
	height: 84px;
	position: absolute;
	top: 0;
	left: 0;
}

.top_btn li.btn_po {
	background: none;
	width: 312px;
	height: 100px;
	margin: 0;
	position: absolute;
	bottom: 10px;
	right: 0;
}
