@charset:"UTF-8";

#content {
	background: url("../images/contact/bg_contact.png") no-repeat top center;
	width: 982px;
	height: 370px;
	margin: 0 auto;
	margin-bottom: 75px;
	padding: 40px 0 0 50px;
}

p {
	font-size: 13px;
}

h3 {
	color: #0066cc;
	font-size: 21px;
	width: 880px;
	height: 40px;
	border-left: 7px solid #0066cc;
	border-bottom: 1px solid #0066cc;
	margin: 60px 0 35px 0;
	padding: 8px 0 0 15px;
	font-weight: bold;
}

dl {
	font-size: 13px;
}

dl dt {
	float: left;
}

.tel_fax {
	font-size: 18px;
	margin: 30px 0 15px 240px;
}

.tel_fax span {
	font-size: 13px;
}

.e_mail {
	font-size: 13px;
	margin-left: 240px;
}

.e_mail a {
	font-size: 18px;
	color: #0066cc;
	text-decoration: none;
}

.e_mail a:hover {
	text-decoration: underline;
}