@charset:"UTF-8";

#content {
	float: left;
	width: 650px;
	margin-left: 48px;
	margin-bottom: 75px;
}

#content .bg_shadow {
	background: url("../images/products/bg_shadow.png") no-repeat bottom center;
	padding-bottom: 20px;
}

#content .bg_gradation {
	background: url("../images/products/bg_gradation.jpg") no-repeat bottom center #fff;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	padding: 25px 20px 0 19px;
}

#content #car h3,
#content #info h3 {
	width: 190px;
	height: 170px;
	background: #0066cc;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	padding: 67px 0;
}

#content #forming h3 {
	width: 190px;
	height: 170px;
	background: #ff9900;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	padding: 60px 0;
}

#content .bg_gradation div {
	margin-left: 10px;
	float: left;
	padding-bottom: 15px;
}

#content .bg_gradation div.mg_l0 {
	margin-left: 0;
}

#content .bg_gradation div p {
	text-align: center;
	font-size: 13px;
}

#content .pagetop {
	margin: 10px 0 40px 0;
}