@charset:"UTF-8";

#content {
	float: left;
	width: 650px;
	margin-left: 48px;
	margin-bottom: 75px;
}
#content.nurture {
	float: none;
	width: 980px;
	margin-left: 0;
}

.mg_t10 { margin-top: 10px; }
.mg_t30 { margin-top: 30px; }
.mg_t40 { margin-top: 40px; }
.mg_t45 { margin-top: 45px; }
.mg_b15 { margin-bottom: 15px; }
.mg_b20 { margin-bottom: 20px; }
.mg_b40 { margin-bottom: 40px; }
.txtin_1 { text-indent: -8px; }

p {
	font-size: 13px;
	line-height: 1.8em;
}

h3 {
	font-size: 21px;
	color: #0066cc;
	font-weight: bold;
	margin-bottom: 15px;
}

h3:before {
	content: url("../images/common/ttl_arrow.png");
	padding-right: 10px;
}

table {
	font-size: 13px;
	border-collapse: collapse;
	border: 1px solid #b8b8b8;
	width: 649px;
	margin-bottom: 40px;
}

table tr {
	border: 1px solid #b8b8b8;
}

table th {
	background: #e3e3e3;
	width: 176px;
	text-align: left;
	vertical-align: middle;
	padding-left: 15px;
}

table td {
	background: #fff;
	line-height: 1.5em;
	width: 473px;
	padding: 10px 10px 10px 20px;
}

table td ul li:before {
	content: "●";
	padding-right: 3px;
}

table td dl {
	font-size: 13px;
	line-height: 1.5em;
}

table td dl dt {
	margin-left: -5px;
}
table td dl dt.mg_l0 {
	margin-left: 0;
}
table td dl dt.mg_l0:before {
	content: "●";
	padding-right: 3px
}

table td dl dd:first-child {
	margin-bottom: 15px;
}

table td dl.cf dt {
	float: left;
}

table td dl.cf dd {
	padding-left: 110px;
}
table td dl.cf dd.pd_l60 {
	padding-left: 60px;
}

.mynavi {
	margin-top: 10px;
	font-size: 15px;
	height: 45px;
	position: relative;
}

.mynavi .entry {
	position: absolute;
	top: 8px;
	right: 195px;
	font-weight: bold;
}

.mynavi a {
	color: #0066cc;
	text-decoration: none;
}

.mynavi img {
	position: absolute;
	top: 0px;
	right: 0px;
}

.mynavi .arrow {
	position: absolute;
	top: 16px;
	right: 175px;
}


/* 以下 人材育成 */
.nurture p.ttl_nur {
	color: #0066cc;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.7em;
}

.nurture h4 {
	background: url("../images/recruit/bg_ttl.png") no-repeat top left;
	width: 420px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	padding: 6px 0 0 15px;
	margin-top: 40px;
}

.nurture .idea {
	background: url("../images/recruit/bg_challenging.png") no-repeat top center;
	border-radius: 0 4px 4px 4px;
	padding: 20px 30px;
	margin-bottom: 40px;
}

.idea p {
	font-size: 14px;
	line-height: 1.8em;
}

.idea .ttl_idea {
	font-size: 21px;
	color: #0066cc;
	text-align: center;
	margin-bottom: 3px;
	font-weight: bold;
}

.nurture h5 {
	border-left: 5px solid #0066cc;
	height: 23px;
	padding: 3px 0 0 15px;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 18px;
	color: #0066cc;
}

.nurture .ttl_h15 {
	font-size: 16px;
	font-weight: bold;
	color: #0066cc;
}

.nurture .photo {
	margin-top: 25px;
	margin-bottom: 25px;
}
.nurture .photo img {
	float: left;
	margin-left: 10px;
}
.nurture .photo img:first-child {
	margin-left: 0;
}

.nurture .table_img{ margin: 3px 0 40px 0; }

.flr_img {
	float:right;
	padding: 5px 0 0 7px;
}