@charset:"UTF-8";

#wrap {
	width: 984px;
}

#content {
	background: url("../images/search/bg_shadow.png") no-repeat bottom center;
	width: 100%;
	padding-bottom: 20px;
}

.pagetop {
	margin-top: 135px;
}

.bg_box {
	padding: 2px;
	border: 2px solid #cfcfcf;
	border-radius: 8px;
	background: #fff;
}

.bg_gra {
	margin: 0;
	background: linear-gradient(white, #f2f2f3);
	background: -moz-linear-gradient(white, #f2f2f3);
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f3));
	padding: 35px 29px 30px 29px;
}

.seach_keywords {
	font-size: 20px;
	margin-bottom: 30px;
}

.seach_keywords .find {
	margin-left: 30px;
}

.find_con {
	border-top: 1px dotted #8c8c8c;
	padding: 23px 20px 0 20px;
}

.find_con h3 {
	border-left: 5px solid #0066cc;
	border-bottom: 1px solid #0066cc;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 25px;
	padding: 8px 0 0 20px;
}

.find_con h3 a {
	text-decoration: none;
	color: #0066cc;
}
.find_con h3 a:hover {
	text-decoration: underline;
}

.find_con .p_date {
	color: #333333;
	font-size: 12px;
	margin-left: 25px;
}

.find_con p {
	font-size: 13px;
	line-height: 1.769em;
	color: #333;
	margin-bottom: 20px;
}

.find_con .a_deta {
	font-size: 12px;
	line-height: 1em;
}

.find_con .a_deta a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

.find_con .a_deta a img {
	padding-right: 8px;
	vertical-align: middle;
}



/*------------------------
		#page ページャー設定
------------------------*/
#page{
	width:500px;
	text-align:center;
	margin:0 auto 0;
	padding:60px 0 40px 0;
	clear:both;
}

#page ul,
#page li{
	display:inline-block;
	position:relative;
	font-size:13px;
	color:#333333;
	letter-spacing:0.4px;
	*display: inline;  
	*zoom: 1;  
}


#page ul{
	width: auto;
	margin:0 30px;
}

#page li{
	margin:0 3px;
	background:#fff;
	border:2px solid #fff;
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;
	border-radius: 3x;        /* CSS3草案 */  
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	background: -moz-linear-gradient(bottom, #e2e2e2, #fff);
	background: -webkit-gradient(linear, center bottom, center top, from(#e2e2e2), to(#fff)); 
	background: -o-linear-gradient(bottom, #e2e2e2, #fff);
	background: linear-gradient(bottom, #e2e2e2, #fff);
}

#page li.off{
}

#page li a{
	text-decoration:none;
}

#page li span{
	padding:5px 10px ;
}

#page li.page_pp span,
#page li.page_p span,
#page li.page_nn span,
#page li.page_n span{
	background-position:5px 0;
	background-repeat:no-repeat;
	display:inline-block;
	margin:0 3px;
}

#page li.page_nn span{background-image: url("../images/search/btn_nn.png") ;}
#page li.page_nn a:hover span{background-image: url("../images/search/btn_nn_on.png") ;}

#page li.page_n span{background-image: url("../images/search/btn_n.png") ;}
#page li.page_n a:hover span{background-image: url("../images/search/btn_n_on.png") ;}

#page li.page_pp span{background-image: url("../images/search/btn_pp.png") ;}
#page li.page_pp a:hover span{background-image: url("../images/search/btn_pp_on.png") ;}

#page li.page_p span{background-image: url("../images/search/btn_p.png") ;}
#page li.page_p a:hover span{background-image: url("../images/search/btn_p_on.png") ;}

#page li a:hover{
	color:#0066cc;
	background:#f8fbfd;
	background: -moz-linear-gradient(bottom, #c1d9f0, #f8fbfd);
	background: -webkit-gradient(linear, center bottom, center top, from(#c1d9f0), to(#f8fbfd)); 
	background: -o-linear-gradient(bottom, #c1d9f0, #f8fbfd);
	background: linear-gradient(bottom, #c1d9f0, #f8fbfd);
}
