@charset:"UTF-8";

#content {
	float: left;
	width: 650px;
	margin-left: 48px;
	margin-bottom: 75px;
}

h3 {
	font-size: 21px;
	color: #0066cc;
	margin-bottom: 40px;
}

h3:before {
	content: url("../images/common/ttl_arrow.png");
	padding-right: 10px;
}

h4 {
	border-left: 5px solid #0066cc;
	color: #0066cc;
	padding-left: 15px;
	font-size: 18px;
	margin-bottom: 20px;
}

.ttl_tech {
	font-size: 22px;
	color: #0066cc;
	font-weight: bold;
	margin-bottom: 35px;
}

p {
	font-size: 14px;
	line-height: 1.846em;
}

.tech_needs {
	background: url("../images/technology/bg_tech01.png") no-repeat;
	position: relative;
	margin: 30px 0 20px 0;
	width: 650px;
	height: 645px;
}

.tech_needs ul {
	color: #0066cc;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 180px;
	left: 123px;
	line-height: 1.5em;
}

.tech_needs ul li {
	width: 230px;
	padding-left: 1em;
	text-indent: -1em;
}

.tech_needs ul li:before {
	content: "●";
	padding-right: 5px;
}

.tech_needs h5 {
	font-size: 12px;
	color: #0066cc;
	font-weight: bold;
	position: absolute;
	top: 461px;
	left: 408px;
 /* letter-spacing: 4px;*/
}

.tech_needs p {
	width: 235px;
	font-size: 10px;
	line-height: 1.5em;
	position: absolute;
	top: 505px;
	left: 395px;
}


/*==========integrated==========*/
#content.integrated p.ttl_tech {
	letter-spacing: -1px;
}

.integrated .bg_graph {
	background: url("../images/technology/bg_graph.png") no-repeat top left;
	position: relative;
	width: 694px;
	height: 793px;
	margin-top: 40px;
}

.bg_graph .btn_01 {
	position: absolute;
	top: 5px;
	left: 4px;
}

.bg_graph .btn_02 {
	position: absolute;
	top: 5px;
	left: 333px;
}

.bg_graph .btn_03 {
	position: absolute;
	top: 165px;
	left: 4px;
}

.bg_graph .btn_04 {
	position: absolute;
	top: 165px;
	left: 169px;
}

.bg_graph .btn_05 {
	position: absolute;
	top: 165px;
	left: 333px;
}

.bg_graph .btn_06 {
	position: absolute;
	top: 165px;
	left: 502px;
}

.bg_graph .btn_07 {
	position: absolute;
	top: 304px;
	left: 86px;
}

.bg_graph .btn_08 {
	position: absolute;
	top: 304px;
	left: 251px;
}

.bg_graph .btn_09 {
	position: absolute;
	top: 304px;
	left: 417px;
}

.bg_graph .btn_10 {
	position: absolute;
	top: 443px;
	left: 168px;
}

.bg_graph .btn_11 {
	position: absolute;
	top: 443px;
	left: 334px;
}

.bg_graph .btn_12 {
	position: absolute;
	top: 603px;
	left: 168px;
}

/*==========example==========*/
.ex h3 {
	margin-bottom: 20px;
}

.ex .ex_list li {
	background: url("../images/technology/bg_project.png") no-repeat;
	width: 650px;
	height: 270px;
	padding: 20px 23px 0 35px;
	margin-top: 23px;
	position: relative;
}

.ex .ex_list li .new {
	position: absolute;
	top: 0;
	right: 0;
}

.ex .ex_list li h4 {
	font-size: 18px;
	height: 35px;
	padding-top: 8px;
	border-bottom: 1px solid #0066cc;
}

.ex .ex_list li h4 a {
	text-decoration: none;
	color:#0066cc;
	display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 420px;
}

.ex .ex_list li h4 a:hover {
	text-decoration: underline;
}

.ex .ex_list li h4 span {
	font-size: 12px;
	color: #666666;
	padding-right: 15px;
}

.ex .ex_list li p {
	font-size: 13px;
	line-height: 1.769em;
	width: 370px;
	float: left;
}

.ex .ex_list li .pro_img img {
	float: right;
}

.ex .ex_list li .a_deta {
	width: auto;
	line-height: 1em;
	position: absolute;
	bottom: 44px;
	left: 285px;
}

.ex .ex_list li .a_deta a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

.ex .ex_list li .a_deta a img {
	padding-left: 5px;
	vertical-align: middle;
}

/*==========example中ページ==========*/
#wrap .side_nav .project_nav li {
	position: relative;
}
#wrap .side_nav .project_nav li:before {
	display: none;
}
#wrap .side_nav .project_nav li img {
	position: absolute;
	top: 24px;
}
#wrap .side_nav .project_nav li a {
	display: table-cell;
	vertical-align: middle;
	width: 250px;
	padding: 0 20px;
}


#content.ex_deta {
	width: 658px;
	margin-left: 40px;
}

.ex_deta .bg_shadow {
	background: url("../images/technology/bg_shadow.png") no-repeat bottom center;
	width: 658px;
	padding-bottom: 18px;
}

.ex_deta .bg_deta {
	width: 652px;
	padding: 2px;
	border: 2px solid #e2e2e2;
	border-radius: 8px;
	background: #fff;
}

.ex_deta .bg_gra {
	margin: 0 auto;
	background: linear-gradient(white, #f2f2f3);
	background: -moz-linear-gradient(white, #f2f2f3);
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f3));
	padding: 20px 27px 45px 30px;
}

.ex_deta .bg_gra h4 {
	font-size: 20px;
	height: 67px;
	padding: 25px 0 0 30px;
	border-bottom: 1px solid #0066cc;
	margin-bottom: 30px;
}

.ex_deta .bg_gra h4 span {
	font-size: 13px;
	color: #666;
	float: right;
	width: auto;
}

.ex_deta .bg_gra .deta_txt {
	width: 370px;
	float: left;
}


.ex_deta .bg_gra span {
	width: 200px;
	float: right;
}
.ex_deta .bg_gra span img {
	margin-top: 10px;
}
.ex_deta .bg_gra span img:first-child {
	margin-top: 0;
}

.ex_deta .bg_gra h5 {
	font-size: 15px;
	color: #0066cc;
	background: #d9e8f4;
	font-weight: normal;
	margin: 30px 0;
	padding: 9px 0 9px 17px;
}

.ex_deta .bg_gra .mg_b10 {
	margin-bottom:10px;
}

.ex_deta .bg_gra .mg_b10 .deta_txt span {
	width: auto;
	float: none;
	display: block;
	color: #0066cc;
}

/* フローティングウィンドウ */
.bg_in1 {
	background: url("../images/technology/bg_in1.png") no-repeat;
	width: 880px;
	height: 509px;
	padding: 0 70px;
}
.bg_in2 {
	background: url("../images/technology/bg_in2.png") no-repeat;
	width: 880px;
	height: 790px;
	padding: 0 70px;
}
.bg_in3 {
	background: url("../images/technology/bg_in3.png") no-repeat;
	width: 880px;
	height: 600px;
	padding: 0 70px;
}
.bg_in4 {
	background: url("../images/technology/bg_in4.png") no-repeat;
	width: 880px;
	height: 680px;
	padding: 0 70px;
}

.bg_in1 h4,
.bg_in2 h4,
.bg_in3 h4,
.bg_in4 h4 {
	color: #333;
	font-size: 36px;
	line-height: 1.5em;
	border: none;
	padding: 72px 0 0 0;
	margin: 0 0 55px 0;
}
.bg_in1 h4 img,
.bg_in2 h4 img,
.bg_in3 h4 img,
.bg_in4 h4 img {
	margin-left: 25px;
}
.bg_in1 .fll_txt,
.bg_in2 .fll_txt,
.bg_in3 .fll_txt,
.bg_in4 .fll_txt {
	width: 390px;
	float: left;
}
.bg_in1 .catch_txt,
.bg_in2 .catch_txt,
.bg_in3 .catch_txt,
.bg_in4 .catch_txt {
	font-size: 17px;
	color: #0066cc;
	line-height: 1.5em;
	margin-bottom: 25px;
}
.bg_in1 .flo_txt,
.bg_in2 .flo_txt,
.bg_in3 .flo_txt,
.bg_in4 .flo_txt {
	font-size: 14px;
	color: #333;
	line-height: 1.5em;
}
.bg_in1 .flr_img,
.bg_in2 .flr_img,
.bg_in3 .flr_img,
.bg_in4 .flr_img {
	float: right;
}

.bg_in2 .ttl_txt,
.bg_in3 .ttl_txt,
.bg_in4 .ttl_txt {
	font-size: 17px;
	color: #0066cc;
	margin: 50px 0 0 -10px;
}
.bg_in2 dl,
.bg_in3 dl,
.bg_in4 dl {
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 1.75em;
	margin-right: 30px;
}
.bg_in2 dt,
.bg_in3 dt,
.bg_in4 dt {
	float: left;
}

.bg_in2 dd,
.bg_in3 dd,
.bg_in4 dd {
	padding-left: 20px;
}

.img_float09 {
	margin-top: -20px;
}

a.link_none {
	cursor: default;
}

#wrap .side_nav li a.link_none:hover {
	color: #000;
}