@charset:"UTF-8";
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	line-height: 1.5em;
	color: #333;
	/*background: #060606;*/
	letter-spacing: 1px;
}

#wrapper {
	background: url("../images/common/main_bg.jpg") top left #fff;
}
.letspa_0 {
	letter-spacing: 0;
}

.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}

/*--------------------
	header
--------------------*/

header {
	width: 100%;
	background: url("../images/common/bg_head.jpg") repeat-x top left;
}

header > div {
	width: 980px;
	margin: 0 auto;
	padding-top: 23px;
	position: relative;
}

header h1 {
	float: left;
}

header ul#lnav {
	float: right;
	margin-right: 220px;
	overflow: hidden;
	margin-top: 25px;
}

header ul#lnav li {
	float: left;
	margin-right: 20px;
	padding-left: 10px;
	background: url("../images/common/icon_arrow.png") no-repeat left center;
}

header ul#lnav li a {
	color: #fff;
	text-decoration: none;
}


header dl {
	position: absolute;
	top: 48px;
	left: 767px;
}

header dt {
	padding-right: 8px;
}

header dt,
header dd {
	float: left
}

#searchform {
	position: relative;
}

.keywords  {
	width: 150px;
	height: 20px;
	border: 1px solid #CCC;
	padding: 2px 2px 2px 2px;
	font-size: 10px;
}

.searchBtn {
	position: absolute;
	top: 0;
	left: 150px;
}

header .head_nav {
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 4px 4px;
	position: relative;
	z-index: 100;
}

header .head_nav li {
	float: left;
	height: 45px;
}

header h2 {
	text-align: center;
	position: relative;
	z-index: 10;
	background: url("../images/common/main_shadow.png") no-repeat bottom center;
	height: 222px;
}

header h2 img {
	margin-top: -10px;
}


/*--------------------
	wrap
--------------------*/

#wrap {
	width: 980px;
	margin: 0 auto;
	margin-top: 38px;
}

/*--------------------
	sidenav
--------------------*/

#wrap .side_nav {
	float: left;
}

#wrap .side_nav ul {
	background: url("../images/common/bg_side.png") no-repeat bottom center;
	margin-top: -3px;
}

#wrap .side_nav li {
	width: 253px;
	margin: 0 0 0 14px;
	padding: 0 0 0 23px;
	border-top: 1px solid #d3d3d3;
	position:relative;
}

#wrap .side_nav li:first-child {
	border-top: none;
}

#wrap .side_nav li:last-child {
	padding-bottom: 20px;
}

#wrap .side_nav li a {
	display: inline-block;
	width: 220px;
	padding-top: 24px;
	padding-bottom: 24px;
	color: #000;
	text-decoration: none;
}

#wrap .side_nav li a:hover {
	color: #e22c1e;
}

#wrap .side_nav li:before {
	content: url("../images/common/menu_mark.png");
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -7px;
}
#wrap .side_nav li:last-child:before {
  margin-top: -17px;
}



/*--------------------
	footer
--------------------*/
.pagetop {
	text-align: right;
	padding-right: 10px;
}

.pagetop img {
	padding-right: 10px;
}

.pagetop a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

footer {
	background: url("../images/common/foot_bg.jpg") repeat-x top left;
	height: 49px;
	margin-top: 50px;
}

footer p {
	color: #fff;
	text-align: center;
	padding-top: 17px;
	font-size: 10px;
}